<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Dashboard</h2>
      <h4>ju.maciel.ferreira@gmail.com</h4>
    </div>
    <img src="https://mlocks.com.br/portrait.be54d69d5f4b8c67b4ad.jpg" alt="MLocks Consulting">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/maps">
  	<mat-icon>location_on</mat-icon>
  	Maps
  </a>
</mat-nav-list>
