<div>
  <mlocks-stacked-area-chart></mlocks-stacked-area-chart>
</div>
<br />
<mat-divider></mat-divider>
<br />
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
  <mat-card fxFlex="25">
    <mlocks-card label="New Users" total="12" percentage="50"></mlocks-card>
  </mat-card>
  <mat-card fxFlex="25">
    <mlocks-card label="User retention" total="10" percentage="10"></mlocks-card>
  </mat-card>
  <mat-card fxFlex="25">
    <mlocks-card label="User engagement" total="9" percentage="10"></mlocks-card>
  </mat-card>
  <mat-card fxFlex="25">
    <mlocks-card label="Referral" total="2" percentage="10"></mlocks-card>
  </mat-card>
</div>
<br />
<mat-divider></mat-divider>
<div>
  <div>Table</div>
  <div>Pie Charts</div>
</div>
